<div ng-controller="FormController">
    <div class="container">
        <div ng-class="{loading:isLoading}" class="twitter"></div>
    </div>
    <form ng-submit="submit()" class="search-bar" ng-class="{expanded:isExpanded}" autocomplete="false">
        <input focus-when="isExpanded" ng-model="screenName" id="search-bar-input" type="text" name="screenName" class="input" autocomplete="false">
        <button ng-click="expandSearch()" type="reset" class="search"></button>
    </form>
    <user-card></user-card>
    <twits-list></twits-list>
</div>
