<div id="user-timeline" ng-show="twits.length">
  <div class="user-timeline-items">
    <twits-toolbar></twits-toolbar>
    <div class="user-timeline-content">
      <section class="user-timeline-item" ng-repeat="twit in twits | retweetCountFilter:filter.retweetCount | hasImageFilter:filter.hasImage | orderBy:sortBy as filteredTwits">
        <a ng-repeat="photo in twit.photos" href="{{photo.url}}">
          <img ng-src="{{photo.media_url_https}}" alt="{{photo.text}}" />
        </a>
        <div class="user-timeline-text">{{twit.text}}</div>
        <div class="clear"></div>
      </section>
      <section class="user-timeline-item" ng-if="filteredTwits.length === 0">
        <div class="user-timeline-text">Nothing matched your criteria.</div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
</div>
