<div id="user-timeline" ng-show="twits.length">
  <div class="user-timeline-items">
    <form class="user-timeline-toolbar">
      <label>
        Has image:<input type="checkbox" name="filter-has-image" value="true" />
      </label>
      <label>
        Minimal number of retweets:<input type="number" min="0" step="1" value="0" name="filter-retweet-count" />
      </label>
      <radiogroup>
      <label>
        Sort by date:<input type="radio" value="created_at_timestamp" name="sort-by" />
      </label>
      <label>
        Sort by length:<input type="radio" value="text_length" name="sort-by" />
      </label>
      </radiogroup>
    </form>
    <div class="user-timeline-content">
      <section class="user-timeline-item" ng-repeat="twit in twits">
        <a ng-repeat="photo in twit.photos" href="{{photo.url}}">
          <img ng-src="{{photo.media_url_https}}" alt="{{photo.text}}" />
        </a>
        <div class="user-timeline-text">{{twit.text}}</div>
        <div class="clear"></div>
      </section>
    </div>
  </div>
</div>
